<div class='jumbotron'>
<p class="lead"><%= @meeting.title %></p>
<p class="lead"><%= @meeting.start_time %></p>
<p class="lead"><%= @meeting.notes %></p>
<p class="lead">Smyler: <%= @meeting.smyler.username %></p>
<p class="lead">Hearo: <%= @meeting.hearo.username %></p>
</div>