<% if hearo.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(hearo.errors.count, "error") %> prohibited this hearo from being saved:</h2>

        <ul>
        <% hearo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<div class='row'>
    <div class='col'>
        <%= form_with(model: hearo, local: true) do |form| %>

        <% if !hearo.id %>
        <div class="field form-group row">
            <%= form.label :username, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.text_field :username, class: "form-control" %>
            </div>
        </div>
        <% end%>

        <div class="field form-group row">
            <%= form.label :password, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.password_field :password, class: "form-control" %>
            </div>
        </div>

        <div class="field form-group row">
            <%= form.label :first_name, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.text_field :first_name, class: "form-control" %>
            </div>
        </div>

        <div class="field form-group row">
            <%= form.label :last_name, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.text_field :last_name, class: "form-control" %>
            </div>
        </div>

        <%= form.fields_for :specialty do |s| %>
        <div class="field form-group row">
            <%= s.label :specialty, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= s.text_field :name, list: "specialty_autocomplete", class: "form-control" %>
                <datalist id="specialty_autocomplete">
                    <% Specialty.all.each do |specialty| %>
                        <option value="<%= specialty.name %>">
                    <% end %>
                </datalist>
            </div>
        </div>
        <% end %>

        <div class="field form-group row">
            <%= form.label :gender, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.collection_select :gender_id, Gender.all, :id, :name, {class: "form-control"} %>  <!--- TODO: Find a way to add class for boostrap -->
            </div>
        </div>

        <div class="field form-group row">
            <%= form.label :therapist_code, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.text_field :therapist_code, class: "form-control" %>
            </div>
        </div>

        <div class="field form-group row">
            <%= form.label "Date of Birth", class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= form.date_field :dob, class: "form-control" %>
            </div>
        </div>

        <% if !@hearo.id %>
          <div class="actions form-group">
              <div>
              <%= form.submit "Request Verification!", class: "btn btn-primary btn-lg" %>
              </div>
          </div>
        <% else %>
          <div class="actions form-group">
              <div>
              <%= form.submit "Submit Changes", class: "btn btn-primary btn-lg" %>
              </div>
          </div>
        <% end%>

        </div>
    </div>

<% end %>