<div class="jumbotron">
    <h1 class="display-4 centered">Hello Hearo <%= link_to @hearo.first_name, edit_hearo_path(@hearo) if @hearo.verified%></h1>
    <hr class="my-3">
    <div class="status centered">
      <p class="lead">Your current status is set to: <span><%= @hearo.status.name %></span>
        <%= form_with model: @hearo do |f|%>
                <%= f.collection_select :status_id, Status.all, :id, :name, {class: "form-control"} %>
                <%= f.submit "✔️" %>  <!--- TODO: Find a way to add class for boostrap -->
        <% end %>
      </p>
    </div>
    <hr class="my-3">

    <div class="row">

        <div class="col bg-light">
          <p class=lead>Reserve Weekly Meeting Times:</p>
          <%= form_with(model: @booking) do |f|%>
            <%= f.label "Date and Time:" %>
            <%= f.datetime_field :starts_at %>
            <%= f.submit "Create" %>
          <% end %>
        </div>

        <div class="col bg-light">
          <p class=lead><%= link_to 'Booked Meetings:', meetings_path %></p>
          <ul class="list-group list-group-flush">
            <% @hearo.meetings.each do |meeting|%>
              <li class="list-group-item">
               <%= link_to meeting.start_time, meeting_path(meeting) %>
              </li>
            <% end %>
        </ul>
        </div>
    </div>

    <div class="row">
        <div class="col bg-light">
        <p class=lead>Bookings:</p>
        <ul class="list-group list-group-flush">
            <% @hearo.bookings.each do |booking|%>
              <% if booking.id %>
              <li class="list-group-item">
               <%= form_tag booking_path(booking), method: "delete" do %>
                 <%= booking.starts_at %>  <%= submit_tag "X" %>
               <% end %>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>

        <div class="col bg-light">
          <p class=lead>Requests:</p>
        </div>
    </div>
    <div class="centered pad container">
    </div>
</div>