<div class="container left">
    <div class="row">
        <div class="col-9 bg-secondary">
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
        </div>
        <div class="col bg-dark">
          <h1>Hello Hearo2 <%= @hearo.first_name %></h1>
        </div>
    </div>
</div>