<div class='jumbotron'>

  <div class="col bg-light">
    <p class='lead'>Hearo <%= @hearo.full_name %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
         Username: <%= @hearo.username %>
      </li>
      <li class="list-group-item">
         First Name: <%= @hearo.first_name %>
      </li>
      <li class="list-group-item">
         Last Name: <%= @hearo.last_name %>
      </li>
      <li class="list-group-item">
         Specialty: <%= @hearo.specialty.name %>
      </li>
       <li class="list-group-item">
         Gender: <%= @hearo.gender.name %>
      </li>
    </ul>
  </div>
  
  <hr class="my-3">

  <div class="col bg-light">
    <p class='lead'>Available Times:</p>
        <% if @hearo.bookings.empty? %>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p> There are no available times at the moment!</p>
                </li>
        <% else %>
                <% @hearo.bookings.each do |booking|%>
                <li class="list-group-item">
                <%= form_for [@hearo, booking, @meeting] do |f|%>
                    <%= f.text_field :start_time, type: 'hidden', value: booking.starts_at %>
                    <%= booking.starts_at %>  <%= submit_tag "Book" %>
                <% end %>
                </li>
                <% end %>
            </ul>
        <% end %>
  </div>

</div>