<div class="jumbotron">
    <h1 class="display-4 centered">Hello Smyler <%= link_to @smyler.first_name, edit_smyler_path(@smyler)%></h1>
    <hr class="my-3">

    <div class="row">

        <div class="col bg-light">
          <p class=lead><%= link_to 'Online Hearos:', '#' %></p>
          <ul class="list-group list-group-flush">
            <% Hearo.online.each do |hearo|%>
              <% if hearo.id %>
              <li class="list-group-item">
               <%= link_to hearo.username, hearo_path(hearo) %>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>

        <div class="col bg-light">
          <p class=lead><%= link_to 'Booked Meetings:', meetings_path %></p>
          <ul class="list-group list-group-flush">
            <% @smyler.meetings.each do |meeting|%>
              <li class="list-group-item">
               <%= link_to meeting.start_time, meeting_path(meeting) %>
              </li>
            <% end %>
        </ul>
        </div>
    </div>

    <div class="row">
        <div class="col bg-light">
        <p class=lead><%= link_to 'Hearo by Specialty:', '#' %></p>
        <ul class="list-group list-group-flush">
            <% Hearo.specialty_order.each do |hearo|%>
              <% if hearo.id %>
              <li class="list-group-item">
               <p>
                 <%= link_to hearo.full_name, hearo_path(hearo) %> - <%= hearo.specialty.name %>
               </p>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>

        <div class="col bg-light">
          <p class=lead><%= link_to 'Make a meeting:', meetings_path %></p>
        </div>
    </div>
    <div class="centered pad container">
     <p class=lead>Something may go here</p>
    </div>
</div>