<div class="jumbotron">
    <h1 class="display-4 centered">Hello Smyler <%= link_to @smyler.first_name, edit_smyler_path(@smyler)%></h1>
    <hr class="my-3">

    <div class="row">

        <div class="col bg-light">
          <p class=lead><%= link_to 'Online Hearos:', '#' %></p>
          <ul class="list-group list-group-flush">
            <% Hearo.online.each do |hearo|%>
              <% if hearo.id %>
              <li class="list-group-item">
               <%= link_to hearo.username, '#' %>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>

        <div class="col bg-light">
          <p class=lead><%= link_to 'Meetings:', meetings_path %></p>
          <ul class="list-group list-group-flush">
            <% @smyler.meetings.each do |meeting|%>
              <% if meeting.id %>
              <li class="list-group-item">
               <%= link_to meeting.title, meeting_path(meeting) %>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>
    </div>

    <div class="row">
        <div class="col bg-light">
        <p class=lead>Search Hearo by Specialty:</p>
        <ul class="list-group list-group-flush">
            <% Hearo.specialty_order do |hearo|%>
              <% if hearo.id %>
              <li class="list-group-item">
               <%= link_to hearo.username, '#' %>
              </li>
              <% end %>
            <% end %>
        </ul>
        </div>

        <div class="col bg-light">
          <p class=lead>Requests:</p>
        </div>
    </div>
    <div class="centered pad container">
     <p class=lead>Something may go here</p>
    </div>
</div>