<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= dynamic_route_to_home_string %>">
    <img src="/assets/smyle-logo-horizontal.png" width="20%" height="20%" class="d-inline-block align-top" alt="">
  </a>

  <% if smyler_logged_in?%>
     <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Meetings</a>
      <%= link_to 'Signout', logout_path, class: 'nav-link' %>
    </div>

  <% elsif hearo_logged_in? %>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Meetings</a>
      <%= link_to 'Signout', logout_path, class: 'nav-link' %>
    </div>

  <% elsif !logged_in? %>
    <div id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/welcome/home" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Smyler Login
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="input-group">
              <%= form_for current_smyler, url: '/sessions', html: {class: "form-inline"} do |f| %>
                  <%= f.text_field :username %>
                  <%= f.password_field :password %>
                  <%= f.submit 'Login' %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hearo Login
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="input-group">
              <%= form_for current_hearo, url: '/sessions', html: {class: "form-inline"} do |f| %>
                  <%= f.text_field :username %>
                  <%= f.password_field :password %>
                  <%= f.submit 'Login' %>
              <% end %>
            </div>
          </div>
        </li>

      </ul>
    </div>
  <% end %> <!-- ends if logged_in -->

</nav>
